body{
    background-color: moccasin
}
.navbar {
  overflow: hidden;
  background-color: whitesmoke;
}
.navbar a {
  float: center;
  color: maroon;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
.navbar a:hover {
  background-color:maroon;
  color: moccasin;
} 

/* .navbar a.active {
  background-color: maroon;
  color: white;
} */
.banner{
  width: 100vw;
  height: 300px;
  object-fit: cover;
}
.banner-pic {
    @include box-shadow(rgba(0, 0, 0, 0.30) 0 10px 20px 0);
    background: url(../images/banner-bg.jpg);
    height: 522px;
}
.image{
    height: 100px;
    width: 100px;
}
.container{
    width: 1000px;
    display: flex;
    gap: 50px;
}
.align-box{
    width: auto;
}
.form-align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}
/* @import "bootstrap/scss/bootstrap";

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
); */

.submitbutton{
  background-color:maroon;
  color: moccasin;
}

